* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
}

button,
textarea,
input {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.hidden {
  display: none !important;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
}

body img {
  display: block;
  width: 100%;
  height: 100vh;
}

.momentum-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.momentum-main #clock {
  font-size: 100px;
  margin-bottom: 10px;
}

.login-form {
  margin: 0 auto;
  margin-bottom: 20px;
}

.login-form input {
  border-bottom: 2px solid #000;
  margin-right: 10px;
}

.login-form button {
  border: 2px solid #000;
  border-radius: 5px;
}

::placeholder {
  color: #fff;
}

.login-form button {
  border: 2px solid #000;
  border-radius: 5px;
}

#greeting {
  margin-bottom: 20px;
}

#todo-form {
  border-bottom: 2px solid #000;
}

#quote {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

#weather {
  position: absolute;
  top: 5%;
  right: 5%;
}
